#username
{
    color:darkblue;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, button, input
{
    text-align:center;
    font-family:"Cantarell", sans-serif;
}



#main_logo
{
    font-family:"Rampart One", serif;

        

}

li
{
    list-style-type: none;
}

#sticky_header
{
    
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #FFF;
}

.flashed_message
{
    display:block;
    animation-name: change_colour;
    animation-duration: 4s;  
    left:0;  
}

@keyframes change_colour
{
    0%   {color: red; left:0%}
    33%  {color: darkred;}
    66%  {color: black;left:100%;}
    100% {display:none}
}

#flashes
{
    display:block;
    height:70px;

}

#vote_feedback_holder
{
    height:100px;
}



