<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Rampart+One&display=swap" rel="stylesheet">
   
    {% block extra_head %}

    {% endblock %}
    </head>

    <body>
        <div id="sticky_header">
        <header >
            <h1 id="main_logo">ART THREADS</h1>
        </header>

            <button id="new_thread_btn">NEW THREAD</button> 

            <select id="sort_mode" onchange="apply_sorting()">
                <option id="sort_by_recency" value=1>Sort most recent to least recent</option>
                <option id="sort_by_popularity" value=2>Sort most popular to least popular</option>
            </select>
                <h2>YOUR FEED:</h2>
        </div>

        <div id="flashes">
            {% for error in get_flashed_messages() %}
                <p class="flashed_message">{{ error }}</p>
            {% endfor %}
        </div>
        
        {% block page_content %}

        {% endblock %}
    </body>
    {% block scripts %}

    {% endblock %}
</html>


