{% extends "base.html" %}

    {% block extra_head %}

    {% endblock %}

    {% block page_content %}

    <button id="new_thread_btn">NEW THREAD</button> 

    <dialog id="new_thread_modal">
        <form id="new_post_form" enctype="multipart/form-data">
            <label for="uploaded_image">SELECT IMAGE TO UPLOAD:</label>        
            <br>
            <input type="file" name="uploaded_image"/>            
            <br>
<textarea id="caption_input" name="caption" placeholder="Your caption here:" {% if not in_reply_to %} disabled {% endif %}> 
</textarea>
            <br>
        </form>
        
        <button onclick="submit_new_post();" type="submit">UPLOAD!</button>
        <button id="close_reply_btn">EXIT</button>    
        
    </dialog>


    <dialog id="voting_modal">
        <div style="margin-left:auto; margin-right:0;"">
            <button id="close_vote_btn">X</button>
        </div>
        <div id="vote_for_container">
            
        </div>
        
        <button id="vote_1st_place_btn" name="vote 1">#1</button>
        <button id="vote_2nd_place_btn" name="vote 2">#2</button>
        <button id="vote_3rd_place_btn" name="vote 3">#3</button>

        <a>
            <button id="remix_btn">REMIX!</button>
        </a>

        <span id="vote_feedback_holder"></span>
        
    </dialog>

    <h2>YOUR FEED:</h2>

    {% endblock %}

    {% block scripts %}

    <script src="static/scripts.js"></script>
    <script>
        load_feed();
    </script>

    {% endblock %}


